.a{
    color: rgb(85, 12, 12);
}
.b{
    color: black;
    
}
.c{
    color: black;
    border-style: hidden;
    border-color: #bcbcbc;
    background-color: #bcbcbc;
}
.d{
    color:black;
}
.e{
    color: black;
    border-style: hidden;
    border-color: #bcbcbc;
    background-color: #bcbcbc;
}
.f{
    color: black;
}
